.navbarComponent {
   background-color: #002245;
   color: #FEFEFE; 
}

.navbarComponent a {
   color: #FEFEFE !important; 
   text-decoration: none !important;
}

.navbarComponent a:hover {
   color: #FEFEFE !important;
}

.navbarComponent a:active {
   color: #FEFEFE !important;
}

.navbarComponent .navbar-nav .nav-item.active a {
   color: #FEFEFE !important; 
}
